.select-input-container {
  margin: 0.5rem 1rem 0px 1rem;
  z-index: 1100;
  position: absolute;
  width: 100%;
  border: 1px solid lightgray;
  outline: none;
  display: flex;
  align-items: center;
  border-radius: 6px;

  svg {
    z-index: inherit;
    margin-left: 0.5rem;
  }

  input {
    z-index: 1050;
    border: none;
    border-radius: 6px;
    outline: none;
  }
}

.select-chips {
  margin: 1rem 1rem 0px 1rem;
  border: 1px solid lightgray;
  height: 2rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0px 0.5rem;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  svg {
    margin-left: auto;
  }
}

.chip {
  padding: 2px 12px;
  margin: 2px 2px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;

  button {
    border: none;
  }
}

.dropdown-option {
  display: block;
  padding: 1rem 2rem;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: lightgray;
}

.dropdown-options {
  z-index: 1100;
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0px 1rem;
}

.with-search {
  margin-top: 3rem;
}

.active {
  border: 1px solid gray;
}
