.select-input {
  border: 1px solid lightgray;
  outline: none;
  display: flex;
  align-items: center;
  svg {
    margin-left: 0.5rem;
  }
  input {
    border: none;
    outline: none;
  }
}

.select-chips {
  border: 1px solid gray;
  height: 2rem;
  border-radius: 6px;
  display: flex;
  padding-left: 0.5rem;
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.chip {
  padding: 2px 12px;
  margin: 2px 2px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;

  button {
    border: none;
  }
}

.dropdown-option {
  display: block;
  padding: 1rem 2rem;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: lightgray;
}
